.first-div ~ p {background-color: yellow;}

.first-div > span p {
    background-color: darkgoldenrod;
    text-decoration: underline solid black;}

.second-div p {
    background-color: black;}

 /*if you remove this particular child sibling criteria, then ".second-div p" attribute will turn it darkcyan*/
.second-div > p {
    background-color: violet;
    text-underline-position: below;
    border: 2px solid coral;}

 /*if you remove this particular immediate sibling criteria, then ".first-div ~ p" attribute will turn it yellow*/
 .second-div + p {
    background-color: cornflowerblue;
    border: darkblue solid 3px;}

.third-div > p {
    text-decoration: line-through;
    color: darkblue;
    text-decoration-color: darkred;
    font-size: large;
}

.fourth-div > p {
    color:darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

.fifth-div > p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: darkviolet;
}
