.fontstyle {
    display: block;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
}

#style {     
    font-style: italic;
    border: solid 2px blue;
    background-color: rgb(211, 218, 233);
    padding: 4px;}

