nav {
    display: block;
    background-color: black;
    height: 40px;
    line-height: 40px;S
    font-size: 16px;
}

a {
    display: block;
    color: blanchedalmond;
    float: left;
    border-right: solid 2px blanchedalmond;
    padding: 0 28px;
    text-decoration: none;
}

a:hover {
    background-color: lightseagreen;
}

.active {
    background-color: lightseagreen;
}