.first-div {
    position: sticky;
    background-color: yellow;
    top: 10px;
    left: 12px;
}

.second-div {
    position: relative;
    top: 30px;
    background-color: blue;
    left: 30px;
}

.third-div {
    position: fixed;
    background-color: green;
}

.fourth-div {
    position: absolute;
    background-color: grey;
    left: 30px;
    text-shadow: 5px 3px rgb(199, 199, 211);
}