.flex-container {
    display: flex;
    background-color: sandybrown;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    height: 300px;
    align-items: center;
}

.flex-container > div {
    width: 300px;
    margin: 10px;
    background-color: silver;
}